<div class="footer text-center">
	<div class="pdga">
		<a href="http://www.pdga.com/">Course and Event data ©{{currentYear}} PDGA</a>
	</div>
	<div class="contact">
		<p>Created by Michael Rockway</p>		
	</div>	
</div>
