<nav class="menuBar">
	<div class="menuBar font-effect-outline text-center container">
		<a class="pull-left" href="/">Home</a>
		{{#if user}}
		<p class="text-center">Welcome {{user.username}}</p>
		<a class="pull-right" href="/logout">Logout</a>
		<a href="/profile">Profile</a>
		{{else}}
		<a class="pull-left" href="/signup">Sign Up</a>
		<a class="pull-left" href="/login">Login</a>
		{{/if}}
	</div>
</nav>
{{#if errorMessage}}
<div class="errorMessage">
	<div class="container">{{errorMessage}}</div>
</div>
{{/if}}
{{#if message}}
<div class="errorMessage">
	<div class="container">{{message}}</div>
</div>
{{/if}}