<nav class="menuBar">
		<div class="menuBar container">
			<a>Welcome {{username}}</a>
			<a href="/">Home</a>
			<a href="/signup">Sign Up</a>
			<a href="/login">Login</a>
			<a href="/profile">Profile</a>
			<a href="/logout">Logout</a>
		</div>
	</nav>