<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
		<title>DiscGolf</title>
		<!-- bootstrap css -->
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- font -->
		<link href='https://fonts.googleapis.com/css?family=Boogaloo&effect=outline' rel='stylesheet' type='text/css'>
		<!-- custom css -->
		<link type="text/css" rel="stylesheet" href="main.css">
	</head>
	<body class="index">
		{{>header}}
		<div class="splashPage text-center content container-fluid">
			<h1 class="headline largeText font-effect-outline">Fore</h1>
			<p class="headline smallText font-effect-outline">Find a disc golf course near you</p>
			<div class="text-center col-md-6 col-md-offset-3">
			  <form id="searchZipForm" class="searchCourse form-group">
					<input id="postal_code" class="form-control text-center" type="text" name="postal_code" placeholder="Zip Code" required minlength="5" maxlength="5" digits autofocus>
					<input class="btn form-control" type="submit">
				</form>
			</div>
		</div> {{!-- end splashPage class --}}
		{{>footer}}
		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- jquery validate -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
		<!-- handlebars js -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
		<!-- custom js -->
		<script type="text/javascript" src="main.js"></script>
		<!-- custom validation js -->
		<script type="text/javascript" src="validations.js"></script>
	</body>
</html>