<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>DiscGolf</title>
		<!-- bootstrap css -->
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- font -->
		<link href='https://fonts.googleapis.com/css?family=Arya' rel='stylesheet' type='text/css'>
		<!-- custom css -->
		<link type="text/css" rel="stylesheet" href="main.css">
	</head>
	<body class="index">
		{{>header}}
		<div class="container">
			<div class="jumbotron text-center">
			  <h2 class="headline largeText">Fore</h2>
			  <p class="headline smallText">Find a course or event near you</p>
			  <form class="searchCourse" method="POST" action="/courses">
					<input type="text" name="postal_code" placeholder="Zip Code" autofocus>
					<input class="btn" type="submit">
				</form>
			</div> {{!-- end jumbotron class --}}
		</div> {{!-- end container div --}}

		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- handlebars js -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
		<!-- custom js -->
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>