<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- font -->
	<link href='https://fonts.googleapis.com/css?family=Boogaloo&effect=outline' rel='stylesheet' type='text/css'>
	<!-- custom css -->
	<link type="text/css" rel="stylesheet" href="main.css">
</head>
<body>
	{{>header}}
	<div class="container-fluid login_signin_background content">
		<div class="row">
			<div class="text-center col-md-6 col-md-offset-3">
			<h1 class="font-effect-outline">Login</h1>
				<form id="loginForm" action="/login" method="POST" class="login text-center form-group ">
					<input type="text" name="username" class="username form-control" placeholder="username" autofocus required minlength="6">
					<input type="password" name="password" class="password form-control" placeholder="password" required minlength="6">
					<input type="submit" class="submit form-control" value="Login">
				</form>
			</div>
		</div>
	</div>
	{{>footer}}
	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- jquery validate -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
	<!-- handlebars js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- custom js -->
	<script type="text/javascript" src="main.js"></script>
	<!-- custom validation js -->
	<script type="text/javascript" src="validations.js"></script>
</body>
</html>