<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- font -->
	<link href='https://fonts.googleapis.com/css?family=Arya' rel='stylesheet' type='text/css'>
	<!-- custom css -->
	<link type="text/css" rel="stylesheet" href="main.css">
</head>
<body>
	{{>header}}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h1>Sign Up</h1>
				<form action="/signup" method="POST" class="signup">
					<input type="text" name="username" class="username" placeholder="username">
					<input type="password" name="password" class="password" placeholder="password">
					<input type="submit" class="submit" value="Sign Up">
				</form>
			</div>
		</div>
	</div>
	<!-- jquery -->
	  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	  {{!-- custom js --}}
	  <script type="text/javascript" src="main.js"></script>
</body>
</html>