html {
	height: 100%;
}
body {
	background-color: #E8C085;
	border-collapse: collapse;
	display: table;
	font-family: 'Arya', sans-serif;
	height: 100%;
	width: 100%;
}
.content {
	padding-bottom: 10px;
}
.menuBar {
	background-color: #399740;
	height: 30px;
}
.menuBar a {
	color: #000000;
	font-size: 15px;
	padding: 10px;
}
.splashPage {
	background-color: #E8C085;
	background-image: url('jumbotronbackground.png');
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid #000000;
	height: 70%;
	width: auto;
}
.headline {
	color: #FFFFFF;
	border-color: #000000;
	-moz-text-stroke: 1px #000000;
	-webkit-text-stroke: 1px #000000;
}
.largeText {
	font-size: 100px;
	font-variant: small-caps;
}
.smallText {
	font-size: 40px;
}
.courseList {
	margin: 5px;
}
.courseName {
	font-size: 20px;
	text-align: text-center;
}
.eventsList {
	margin: 5px;	
}
.eventsHeadline {
	background-image: url('basket_woods.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.eventsTitle {
	color: #FFFFFF;
	border-color: #000000;
	height: 150px;
	margin-top: 20px;
	padding: 50px 0 0 50px;
	-moz-text-stroke: 1px #000000;
	-webkit-text-stroke: 1px #000000;
}
.footer {
	background-color: #399740;
	color: #000000;
	display: table-row;
	font-size: 15px;
	height: 1px;
	text-align: center;
	vertical-align: bottom;
	width: 100%;
}
.footer a {
	color: #000000;
}
label {
	display: inherit;
}
.errorMessage {
	background-color: rgba(244, 61, 61, .8);
}